


html{
  box-sizing: border-box;
  font-size: 62.5%;
}
*,*::after,::before{
  padding:0;
  margin:0;
  box-sizing: inherit;
}
body{
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
}
.wrapper{

}
.header{
  background-color: #1C1A19;
  padding: 12rem 3rem;

}
.header-text{
  font-family: "Crete Round", serif;
  font-size: 2.8rem;
  color:#FF6B00;
  font-weight: 400;
  margin-bottom: 1rem;
}
.header-text span{
  display:block;
}
.body-text-header{
  color:#FFF5E1;
  font-size: 1.4rem;
  margin-bottom: 1rem;

}
.body-text-main{
  color: #FFF;
  line-height: 1.2;
}
.portfolio-social{
  display:flex;
  gap:2rem;
  margin-top: 1.5rem;
  list-style: none;
  color: #DBD8D7;
  font-size: 1.6rem;
  margin-left: 2rem;
}
.navbar{
  display:flex;
  justify-content: space-between;
  background-color: #3C3A39;
  color: #FFF;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 1rem 3rem;

}
.navbar-list{
  display: none;

}
.navbar-item{

}
.navbar-toggle{

}
.navbar-brand{

}
.project{
  background-color: #FFF;
  display:flex;
  flex-direction: column;
  padding: 2rem;
  
 
}
.underlined{
  border-bottom:1px solid #212121;
}
.project h3{
  color: #1C1A19;
  font-size: 2.6em;
  font-family: "Crete Round", serif;
  font-weight: 400;
  margin: 3rem 0;
  text-align: center;
  
  padding:2rem;

}
.dash{
  display:block;
  color:#212121;

}
.services{
  background-image: url("./img/yoga.jpeg");
  width:100%;
  height:60vw;
  display:flex;
  background-position: center;
  background-size: cover;
  align-items: center;
  position:relative;

}
.service-list{
  display:flex;
  list-style-type: none;
  gap:2rem;
  flex-direction: column;
  font-weight: 600;
  color: #000;
  margin-left: 2rem;
  }
.service-social-list{
  list-style-type: none;
  display:flex;
  gap:2rem;
  position:absolute;
  bottom: 2rem;
  right: 2rem;
}
.project-heading{
  font-family: "Crete Round", serif;
  font-size: 3.2rem;
  line-height: 4.4rem;
  font-weight: 400;

}
.project-disc{
  margin: 2.4rem 2.4rem 0 2.4rem ;
}
.project-disc-main{
  color:#091E42;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.project-btns{
  display:flex;
}
.project-btns-list{
  width:5rem;
  padding: 1rem;
  margin: 1rem;
  border: .1rem solid #8993A4;
  background: #FFF;
  color:#091E42;
  font-family: "Inter";

}
#bts{
  width:8rem;
}
.project-btn{
 
  padding:1rem 2rem;
  margin-left: 1rem;
  background-color: #FF6B00;
  color:#FFF;
  font-family: "Inter";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.4rem;
  border:none;

}
.projects-primary{
  background-image: 
  
   linear-gradient(
    180.45deg, rgba(38,
    38, 38, 0) 0.75%, rgba(38,
     38, 38, 0.9) 61.94%),
    
    url("./img/art.jpg");
  
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
  
}
.projects-heading1 h3{
  font-family: "Crete Round";
  font-size: 3rem;
  margin-right: 7rem;
  color:#FFF;

}
.projects-heading1 span{
  display:block;
}
.projects-disc1{
  font:"Inter";
  margin:2rem;
  font-size: 1.6rem;
  color:#FFF;

}
.project1-bttns{
  display:flex;
  margin:1rem;

}
.project1-btns{
  padding: 1rem;
  margin:1rem;
  background: rgba(255, 255, 255, 0.24);
  border:none;
  color:#FFF;
  font-family: "Inter";
  font-size: 1.5rem;
  line-height: 2rem;
}
.project1-btn{
  background-color: #FF6B00;
  width:100%;
  height:10vw;
  font-family: "Inter";
  font-weight: 700;
  color:#FFF;
  font-size: 1.6rem;
  border:none;
}
.about{
  margin-top: 4rem;
  padding: 2rem;
  background-color: #1C1A19;
  
}
.about-heading{
  margin-top: 4rem;
  font-size: 4rem;
  color:#FF6B00;
  font-family: "Crete Round";
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
}
.about-disc{
  color:#F4F5F7;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.about-btn{
  background-color: #FF6B00;
  color:#FFF;
  border:none;
  padding: .5rem 1.5rem;
  font-weight: 500;
}
.about-line{
  height: 1px;
  width: 100%;
  margin-top: 3rem;
  background-color: #fff;
}
.qualification{
  padding: 4rem 2rem;
  background-color: #1C1A19;
}
.qualification-type{
  margin-bottom: 1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.qualification-heading{
  font-size: 2rem;
  color: #FFF;
  margin-bottom: 2rem;
}
.qualification-heading i{
  color: #FF6B00;
  font-size: 1.8rem;
  margin-right: 1rem;
  
}
.qualification-list{
  list-style: none;
  color:#FFF;
  font-size: 1.6rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.qualification-item{
  margin-bottom: 1rem;
}
.contact{
  padding:5rem 2rem;
}