


html{
  box-sizing: border-box;
  font-size: 62.5%;
}
*,*::after,::before{
  padding:0;
  margin:0;
  box-sizing: inherit;
}
body{
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
}
.wrapper{

}
.header{
  background-color: #1C1A19;
  padding: 12rem 3rem;

}
.header-text{
  font-family: "Crete Round", serif;
  font-size: 2.8rem;
  color:#FF6B00;
  font-weight: 400;
  margin-bottom: 1rem;
}
.header-text span{
  display:block;
}
.body-text-header{
  color:#FFF5E1;
  font-size: 1.4rem;
  margin-bottom: 1rem;

}
.body-text-main{
  color: #FFF;
  line-height: 1.2;
}
.portfolio-social{
  display:flex;
  gap:2rem;
  margin-top: 1.5rem;
  list-style: none;
  color: #DBD8D7;
  font-size: 1.6rem;
  margin-left: 2rem;
}
.navbar{
  display:flex;
  justify-content: space-between;
  background-color: #3C3A39;
  color: #FFF;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 1rem 3rem;

}
.navbar-list{
  display: none;

}
.navbar-item{

}
.navbar-toggle{

}
.navbar-brand{

}
