


html{
  box-sizing: border-box;
  font-size: 62.5%;
}
*,*::after,::before{
  padding:0;
  margin:0;
  box-sizing: inherit;
}
body{
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
}
.wrapper{

}
.header{
  background-color: #1C1A19;
  padding: 12rem 3rem;

}
.header-text{
  font-family: "Crete Round", serif;
  font-size: 2.8rem;
  color:#FF6B00;
  font-weight: 400;
  margin-bottom: 1rem;
}
.header-text span{
  display:block;
}
.body-text-header{
  color:#FFF5E1;
  font-size: 1.4rem;
  margin-bottom: 1rem;

}
.body-text-main{
  color: #FFF;
  line-height: 1.2;
}
.portfolio-social{
  display:flex;
  gap:2rem;
  margin-top: 1.5rem;
  list-style: none;
  color: #DBD8D7;
  font-size: 1.6rem;
  margin-left: 2rem;
}
.navbar{
  display:flex;
  justify-content: space-between;
  background-color: #3C3A39;
  color: #FFF;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 1rem 3rem;

}
.navbar-list{
  display: none;

}
.navbar-item{

}
.navbar-toggle{

}
.navbar-brand{

}
.project{
  background-color: #E5E5E5;
  display:flex;
  flex-direction: column;
  padding: 2rem;
 
}
.project h3{
  color: #1C1A19;
  font-size: 2.6em;
  font-family: "Crete Round", serif;
  font-weight: 400;
  margin: 3rem 0;
  text-align: center;
  border:1px solid #212121;
  border-right: none;
  border-left: none;
  border-top: none;
  padding:2rem;

}
.dash{
  display:block;
  color:#212121;

}
.services{
  background-image: url("./img/yoga.jpeg");
  width:100%;
  height:60vw;
  display:flex;
  background-position: center;
  background-size: cover;
  align-items: center;
  overflow: hidden;

}
.service-list{
  display:flex;
  list-style-type: none;
  gap:2rem;
  flex-direction: column;
  font-weight: 600;
  color: #000;
  margin-left: 2rem;
  }
.service-social-list{
  list-style-type: none;
  display:flex;
  gap:2rem;
}
.project-heading{
  font-family: "Crete Round", serif;
  font-size: 3.2rem;
  line-height: 4.4rem;
  font-weight: 400;

}
.project-disc{
  margin: 2.4rem 2.4rem 0 2.4rem ;
}
.project-disc-main{
  color:#091E42;
  font-family: "Inter";
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.project-btns{
  display:flex;
}
.project-btns-list{
  width:5rem;
  padding: 1rem;
  margin: 1rem;
  border: .1rem solid #8993A4;
  background: #FFF;
  color:#091E42;
  font-family: "Inter";

}
#bts{
  width:8rem;
}
.project-btn{
 
  padding:1rem 2rem;
  margin-left: 1rem;
}
